body {
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

p {
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(50px);
    border: 2px solid rgba(158, 128, 128, 0.11);
    padding: 50px; 
    text-align: center;
    font-size: 2.5vh; 
    width: 50%;
    height: 70%;
    margin: auto; 
    margin-top: 4%;
    margin-bottom: 4%;
    position: relative; /* Ensure paragraph has a positioning context */
    z-index: 0;
}

header {
    color: #fff;
    background: transparent;
    border: 2px solid rgba(158, 128, 128, 0.11);
    backdrop-filter: blur(50px);
    padding: 10px 0;
    text-align: center;
    position: relative; /* Ensure header has a positioning context */
    z-index: 1; /* Higher than paragraphs */
}

nav {
    margin-bottom: 20px;
    background: transparent;
    backdrop-filter: blur(50px);
    border: 2px solid rgba(158, 128, 128, 0.11);
    padding: 10px 0;
    text-align: center;
    position: relative; /* Ensure nav has a positioning context */
    z-index: 2; /* Higher than header and paragraphs */
}

nav .dropdown {
    position: relative;
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background: rgba(22, 22, 22, 0.712);
    border: 2px solid rgba(158, 128, 128, 0.11);
    backdrop-filter: blur(50px);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3; /* Higher than nav */
}

nav .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

nav .dropdown-content a:hover {
    background-color: #f1f1f175;
    backdrop-filter: blur(50px);
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

footer { 
    color: #fff;
    background: transparent;
    border: 2px solid rgba(158, 128, 128, 0.11);
    backdrop-filter: blur(50px);
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1; /* Higher than paragraphs */
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Style for individual image */
.image-container img {
    width: 50%; /* Adjust the width according to your preference */
    margin-top: 0;
    margin-left: 25%;
}

/* Style for caption */
.caption {
    color: #fff;
    background: transparent;
    border: 2px solid rgba(158, 128, 128, 0.11);
    backdrop-filter: blur(50px);
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;
}
